<div class="pagina_logueo">
    <div class="contenedor_logueo">
        <div class="contenedor_imagen_logo">
            <img src="logo-oij.png" alt="logo-oij">
        </div>
        <div class="contenedor_formulario_logueo">
            <h2>Módulo Seguridad <br> Gestor Documental</h2>
            <form (submit)="loggin()"[formGroup]="formulario">
                <div class="input_contenedor_logueo">
                    <label for="">Usuario</label>
                    <input type="text" [formControl]="formulario.controls.correo">
                </div>

                <div class="input_contenedor_logueo">
                    <label for="">Contraseña</label>
                    <input type="password" [formControl]="formulario.controls.password">
                </div>
                <button type="submit" [disabled]="formulario.invalid" class="btn_amarillo">Iniciar Sesión</button>
               
            </form>
            <p class="derechos_logueo">Copyright © 2024 Poder Judicial.</p>
        </div>
    </div>
</div>
