
<div class="pagina animacion">

    <div class="ruta_contendor">
        <img src="logo-oij.ico" alt="logo_oij">
        <h5>Documentos/versiones</h5>
    </div>

    <p>documentoversiones works! on id: {{id}}</p>
    
  
    
    <form (ngSubmit)="null" [formGroup]="formulario">

        <div class="contenedor_formulario">

            <h2>Mantenimiento de Versiones</h2>


            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre documento</mat-label>
                <input matInput  [formControl]="formulario.controls.nombreDocumento" readonly>
                <mat-error>{{obtenerErrorNombre()}}</mat-error>
            </mat-form-field>
        
           

            <div class="formulario-contenedor-doble">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Usuario</mat-label>
                    <input matInput [formControl]="formulario.controls.nombreUsuario" readonly>
                    <mat-error>{{obtenerErrorNombre()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Oficina</mat-label>
                    <input matInput [formControl]="formulario.controls.oficina" readonly>
                    <mat-error>{{obtenerErrorNombre()}}</mat-error>
                </mat-form-field>

            </div>


            <div class="formulario-contenedor-doble">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Version</mat-label>
                    <input matInput [formControl]="formulario.controls.version">
                    <mat-error>{{obtenerErrorNombre()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>No.SCD</mat-label>
                    <input matInput [formControl]="formulario.controls.noScd">
                    <mat-error>{{obtenerErrorNombre()}}</mat-error>
                </mat-form-field>

            </div>


            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Justificación del cambio</mat-label>
                <textarea matInput formControlName="justificacion" ></textarea>
                <mat-error>{{obtenerErrorJustificacion()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Fecha Version</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="formulario.controls.FechaCreacion"/>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-error>{{obtenerErrorFecha()}}</mat-error>
            </mat-form-field>


            <div class="checkbox-group">
                <mat-checkbox formControlName="docDinamico">Doc. Dinamico</mat-checkbox>
                <mat-checkbox formControlName="obsoleto">Obsoleto</mat-checkbox>
            </div>


             <!-- Nuevo campo para cargar archivo -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Archivo</mat-label>
                <input matInput [value]="formulario.get('archivo')?.value?.name || ''" readonly>
                <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
                </button>
                <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                <mat-error>{{obtenerErrorArchivo()}}</mat-error>
            </mat-form-field>

            <div class="contenedor_boton">
               
                @if(estaEditando){
                    <button mat-flat-button type="button" class="boton_amarillo" (click)="actualizarCategoria()" [disabled]="formulario.invalid"> Editar </button>
                    <button mat-flat-button type="button" class="boton_amarillo" (click)="cancelarEdicion()"> Cancelar </button>
                }@else {
                    <button mat-flat-button type="button" class="boton_rojo" (click)="limpiarFormulario()">Limpiar</button>
                    <button mat-flat-button class="boton_buscar" type="button" (click)="realizarBusqueda()">Buscar</button>
                    <button mat-flat-button type="button" class="boton_amarillo" (click)="crearVersion()" [disabled]="formulario.invalid || formulario.pristine">Agregar</button>

                }
                
            </div>

        </div>
   
    </form>





    <mat-form-field appearance="outline" class="buscar-input">
        <mat-label>Buscar <mat-icon name="pie-chart-outline" class="nav__icon">search</mat-icon> </mat-label>
        <input matInput placeholder="Ingresa un texto" [(ngModel)]="textoBuscar"     (input)="onSearchChange($event)">
    </mat-form-field>

    <table mat-table [dataSource]="listCategoriasdataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-flat-button (click)="editarCategoria(element)">Editar</button>
                <button mat-flat-button (click)="eliminarVersion(element.id)" >Eliminar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroVersion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombreArchivo">
          <th mat-header-cell *matHeaderCellDef> Nombre Archivo </th>
          <td mat-cell *matCellDef="let element"> {{element.archivo.fileName}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaVersion">
            <th mat-header-cell *matHeaderCellDef> Fecha Version </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
        </ng-container>


        <ng-container matColumnDef="obsoleto">
            <th mat-header-cell *matHeaderCellDef> Obsoleto </th>
            <td mat-cell *matCellDef="let element"> 
              {{ element.obsoleto ? 'Sí' : 'No' }} 
            </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
      


</div>
