


<div class="layout" id="body-pd">  <!-- Asi como esta esta bien o podria poner esta clase en app.component.html y llamar dentro 
    al sidebar y luego l clase contenidoVariable y dentro roter-oulet, mas adelante seguro lo cambio por la creacion del login -->

    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>

                
                <div class="nav__brand">
                    <mat-icon name="menu-outline" class="nav__toggle" id="nav-toggle">menu</mat-icon>
                    <div class="nav__logo">
                        <img src="logo-oij.ico" alt="" style="width: 40px; margin-right: 5px; ">
                        <a mat-button class="nav__logo__nombre">Módulo <br> Seguridad</a>
                    </div>                
                </div>
                
                <div class="nav__list">

             

                  
                    
                    <a routerLink="/usuariOficina" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">person_add</mat-icon>
                        <span class="nav__name">Usuario oficina</span>
                    </a>

                 
                    <a routerLink="/oficinaspermisos" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">domain_add</mat-icon>
                        <span class="nav__name">Oficinas permisos</span>
                    </a>


                    <a routerLink="/oficinasgestor" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">domain_add</mat-icon>
                        <span class="nav__name">Oficinas gestor</span>
                    </a>

                    
                    <a routerLink="/rolespermisos" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon"> group_add</mat-icon>
                        <span class="nav__name">Roles permisos</span>
                    </a>

                    <a routerLink="/usuarios" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">group</mat-icon>
                        <span class="nav__name">Usuarios</span>
                    </a>

                    <a routerLink="/oficinas" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">apartment</mat-icon>
                        <span class="nav__name">Oficinas</span>
                    </a>

                    <a routerLink="/roles" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">  supervised_user_circle</mat-icon>
                        <span class="nav__name">Roles</span>
                    </a>

                    <a routerLink="/permisos" class="nav__link">
                        <mat-icon name="pie-chart-outline" class="nav__icon">accessibility</mat-icon>
                        <span class="nav__name">Permisos</span>
                    </a>

                 

                   

                </div>
            </div>

            <a (click)="logout()" class="nav__link">
                <mat-icon name="log-out-outline" class="nav__icon">logout</mat-icon>
                <span class="nav__name">Cerrar sesión</span>
            </a>
        </nav>
    </div>


    <div class="contenedor_paginas">
        <div class="contenedor_pagina">

            <router-outlet></router-outlet>
            
        </div>
    </div>

</div>


